
<div class="tout">
  <div class="header">
    <div> <span>
        <img [attr.src]="BACKEND+world.logo" id='imgMonde' />
      </span>
      <span id="worldname"> {{world.name}} </span>
    </div>
    <div><span [innerHTML]="world.money | bigvalue"> </span> </div>
    <div> <button (click)="onMultiplicateur()" class="multiplicateur" type="button">
        Multiplicateur:{{_qtmulti}}</button></div>
    <div> ID du joueur <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()" /></div>
  </div>
  <div class="main">
    <div>
      <ul>
        <li><button>Unlock</button></li>
        <li><button>Cash Upgrades</button></li>
        <li><button>Angel Upgrades</button></li>
        <li><button type="button" (click)="afficherManager()">Managers</button></li>
        <li><button>Investors</button></li>
      </ul>

    </div>
    <div class="product">
      <div>
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[0]" [qtmulti]="_qtmulti"/>
      </div>
      <div> 
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[1]" [qtmulti]="_qtmulti"/>
      </div>
      <div> 
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[2]" [qtmulti]="_qtmulti"/>
      </div>
      <div> 
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[3]" [qtmulti]="_qtmulti"/>
      </div>
      <div>
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[4]" [qtmulti]="_qtmulti"/>
      </div>
      <div>
        <app-product (notifyAchat)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [money]="world.money" [prod]="world.products[5]" [qtmulti]="_qtmulti"/>
      </div>
    </div>
  </div>
</div>

@if(sectionManager){
  <div class="tout">
    <div class="header">
      <div>
        <h1>Managers</h1>
        <div class="manager-list">
            @for (manager of world.managers; let index = $index; track manager.idcible) {
              <div>
                <img class="managerImage" [src]="BACKEND + manager.logo"/>
                {{manager.name}}
                @if(manager.unlocked==false){
                  <button (click)="engagerManager(manager)">Engager Manager pour {{manager.seuil}} €</button>
                }
              </div>
            }
        </div>
      </div>
    </div>
  </div>
}