<div class="productdetails">
  <table class="tableproduct">
      <tbody>
          <tr>
              
              <th><span class="productTimeLeft">Temps restant: {{product.timeleft}}</span></th>
          </tr>
          <tr>
              <td>
                  <button class="prodproduct" (click)="startFabrication()">
                      <img class="productImage" [src]="BACKEND+product.logo" [alt]="product.name"/>
                  </button>
                  
              </td>
              <td><span class="productnom">{{product.name}} ({{product.quantite}})</span></td>
              <td>
                  <span class="productCout">Coût: {{product.cout}}</span>
              </td>
          </tr>
          <tr>
              <td>
                  <button class="achat" (click)="acheterProduit()" type="button">
                    Acheter !
                  </button>
              </td>
              <td>
                  <span class="productVitesse">Vitesse: {{product.vitesse}}</span>
              </td>
          </tr>
          <tr>
              <td colspan="2">
                  <div id="progression">
                      <app-my-progress-bar class="progressbar" [run]="run" [auto]="auto"
                          frontcolor="#008800"
                          backcolor="#d9c8c1"
                          [orientation]="orientation" 
                          [vitesse]="product.vitesse"
                          [initialValue]="initialValue">
                      </app-my-progress-bar>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
