#progression {
    background-color: #d9c8c1; 
    height: 50px;
    width: 200px;
}

.productdetails {
    margin: 10px;
}

table {
    border: 1px solid #ddd;
    padding: 20px;
}

.productQuantite {
    padding: 10px;
    color: blue;
}

.achat{
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 25% 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}